<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" >
    <title>Login</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Login Register</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div th:if="${errorMessage != null}">
                    <div class="alert alert-danger">Invalid Username or Password</div>
                </div>
                <div th:if="${errorMessage == null}">
                    <div class="alert alert-success">You have been logged out</div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Login</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" role="form" th:action="@{/login}" class="form-horizontal">
                            <div class="form-group mb-3">
                                <label for="username" class="control-label">Username</label>
                                <input type="text" placeholder="Enter username" id="username" name="username" class="form-control" />
                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="control-label">Password</label>
                                <input type="password" placeholder="Enter password" id="password" name="password" class="form-control" />
                            </div>
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
