<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form th:action="@{/login}" method="POST" class="form-signin">

        <h3 th:text="Login"></h3>
        <label>
            <input type="text" name="email" placeholder="Email" />
        </label> <br /><br />
        <label>
            <input type="password" placeholder="Password" name="password" />
        </label> <br /><br />
        <button type="Submit" th:text="Login">Login</button> | <a th:href="@{|/register|}" th:text="'Register'"></a><br />
        <div th:if="${param.error}">
            <p>Email or Password is invalid.</p>
        </div> <br />
    </form>
</body>
</html>
