<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
  <form th:action="@{/register}" th:object="${user}" method="post">
    <h3>Registration</h3>
    <label>
      <input type="text" th:field="*{firstName}" placeholder="First Name" />
    </label> <br/><br/>
    <label>
      <input type="text" th:field="*{lastName}" placeholder="Last Name" />
    </label> <br/><br/>
    <label>
      <input type="text" th:field="*{mobile}" placeholder="Mobile Number" />
    </label> <br/><br/>
    <label>
      <input type="text" th:field="*{email}" placeholder="Email" />
    </label> <br/><br/>
    <label>
      <input type="password" th:field="*{password}" placeholder="Password" />
    </label> <br/><br/>
    <label>
      <select th:field="*{role}" required>
        <option value="">Select</option>
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
      </select>
    </label> <br/><br/>
    <button type="submit">Register</button> | <a th:href="@{|/login|}" th:text="'Log in'"></a>
    <span th:utext="${successMessage}"></span>
    <span th:utext="${errorMessage}"></span>
    <div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
      <ul th:each="data : ${bindingResult.getAllErrors()}">
        <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
      </ul>
    </div>
</form>
</body>
</html>